
body{
	background-color: #000;
	text-align: center;
	color: #fff;
	background-image: url(../images/PARKER.jpg);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Title{
	margin-top: 250px;
	font-size: 4.2em;
	font-family: 'HABANA', sans-serif;
}

.text{
	margin-top: 150px;
	font-size: 1.3em;
	font-family: 'HELVETICA', sans-serif;
}
