body {
		background: #000000;
}

.flexslider {
		width: 690px;
		margin: 0 auto;
		box-shadow: none;
			<img src="imag/graduación.png">
			<div class="meta">
				
				<div class="category">
				
				</div>